body{
    background-color: #FF3B00;
}

h1{
    font-family: Gotham;
    color: white;
    text-align: center;
    font-size: 65px;
}

p.navigation{
    font-family: Gotham;
    color: white;
    text-align: center;
    font-size: 16px;
}
